@{
    ViewData["Title"] = "ALPID Sunchales";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    @{
        Layout = "";
    }
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/cssKanze/style.min.css" rel="stylesheet" />
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>ALPID<span>Sunchales</span></div>
    </div>
    <br>
    <div class="login" id="login-div">
        <div class="form-group">
            <form asp-action="Autorizar" method="get">
                <div class="form-actions no-color">
                    <input type="text" name="usuarioCliente" placeholder="Usuario" />
                    <INPUT type=password placeholder="Contraseña" name="contraseñaCliente"> <br />
                    <label style="color:red; font-size:medium;" >@ViewBag.Mensaje </label><br />
                    <input type="submit" value="Acceder" class="btn btn-dark" style="padding-right: 110px;padding-left: 100px;padding-top:10px;padding-bottom: 10px;"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
