@model Alpid.Models.Productos

@{
    ViewData["Title"] = "Activar producto";
}
<html>
<body style="background-color:ghostwhite;">
    <h4>Editar producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductosID" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label">Cantidad</label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductosTipo" class="control-label"></label>
                    <input asp-for="ProductosTipo" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ProductosTipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaAlta" class="control-label"> Fecha ingreso</label>
                    <input asp-for="FechaAlta" type="date" class="form-control" readonly="readonly" />
                    <span asp-validation-for="FechaAlta" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="FechaBaja" class="control-label">Fecha eliminación</label>
                    <input asp-for="FechaBaja" type="date" class="form-control" value="null" readonly="readonly" />
                    <span asp-validation-for="FechaBaja" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProveedoresID" class="control-label">Proveedor</label>
                    <input asp-for="ProveedoresID" class="form-control" readonly="readonly" />
                    <span asp-validation-for="ProveedoresID" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="MotivoBaja" class="control-label">Motivo de eliminación</label>
                    <input asp-for="MotivoBaja" class="form-control" value="" readonly="readonly" />
                    <span asp-validation-for="MotivoBaja" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Activar" class="btn btn-primary" />
                    <a asp-action="Index" style="float:right;" class="btn btn-info">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
