@model IEnumerable<Alpid.Models.Productos>
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte Elementos Ortopédicos</title>
</head>
<body style="background-color:ghostwhite;">
    <header>
        <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
        <br />
        <address contenteditable style="float:right;">
            <p>Joaquin V. Gonzales 110 - Sunchales(SF)</p>
            <p>alpi@soon.com.ar</p>
            <p>03493-452670</p>
        </address>
        <span><img src="~/img/logoReporte.jpg" style="float:right;padding-right:2%" /></span>
    </header><br />
    <div style="padding-top:10%;">
        <br /> <h3 style="text-align:center;">ALPID: Reporte de todos los elementos Ortopédicos</h3>
        <article>
            <br />
            <form class="form-group">
                <table class="table table-responsive table-bordered" id="datos" style="width: 90%;text-align: center;">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Proveedor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr >
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proveedores.RazonSocial)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </article>
    </div>
</body>
</html>
