@model Alpid.Models.Caja

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Caja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CajaId" />
            <div class="form-group">
                <label asp-for="Debe" class="control-label"></label>
                <input asp-for="Debe" class="form-control" />
                <span asp-validation-for="Debe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber" class="control-label"></label>
                <input asp-for="Haber" class="form-control" />
                <span asp-validation-for="Haber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimiento" class="control-label"></label>
                <input asp-for="TipoMovimiento" class="form-control" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaMovimiento" class="control-label"></label>
                <input asp-for="FechaMovimiento" class="form-control" />
                <span asp-validation-for="FechaMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuotaID" class="control-label"></label>
                <input asp-for="CuotaID" class="form-control" />
                <span asp-validation-for="CuotaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlquilerID" class="control-label"></label>
                <select asp-for="AlquilerID" class="form-control" asp-items="ViewBag.AlquilerID"></select>
                <span asp-validation-for="AlquilerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
