@model IEnumerable<Alpid.Models.Caja>
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>Reporte caja</title>
</head>
<body>
    <!--tabla con la informacion de la caja-->
    <div>
        <form class="form-group">
            <table class="table table-responsive-sm" id="datos">
                <thead>
                    <tr>
                        <th>
                            Fecha Movimiento
                        </th>
                        <th>
                            Tipo Movimiento
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            Ingreso
                        </th>
                        <th>
                            Salida
                        </th>
                        <th>
                            Total
                        </th>
                        @*<th>
                                CuotaID)
                            </th>
                            <th>
                                Alquiler)
                            </th>*@
                    </tr>
                </thead>
                <tbody>
                  
                    <tr>
                        <td>
                           FechaMovimiento)
                        </td>
                        <td>
                           TipoMovimiento)
                        </td>
                        <td>
                           Observaciones)
                        </td>
                        <td style="color:#49d292;">
                          d
                        </td>
                        <td style="color:red;">
                            <!--if para que solamente traiga el signo de pregunta a los campos que tiene valores-->
                           d
                        </td>
                        <td>
                           Total)
                        </td>
                        <td>
                           d
                        </td>
                        @*<td>
                               CuotaID)
                            </td>
                            <td>
                               Alquiler.AlquilerID)
                            </td>*@
                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.CajaId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.CajaId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.CajaId">Delete</a>
                            </td>*@
                    </tr>
                   
                </tbody>
            </table>
        </form>
    </div>


</body>
</html>  