@model IEnumerable<Alpid.Models.Caja>
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte caja</title>
</head>
<body>
    <header>
        <address contenteditable style="float:right;">
            <p>Joaquin V. Gonzales 110 - Sunchales(SF)</p>
            <p>alpi@soon.com.ar</p>
            <p>03493-452670</p>
        </address>
        <span><img src="~/img/logoReporte.jpg" style="float:right;" /></span>
    </header><br />
    <div style="padding-top:10%;">
        <br /> <h3 style="text-align:center;">ALPID: Reporte de caja perteneceinte desde @ViewData["FechaDesdeFilter"] a @ViewData["FechaHastaFilter"]</h3>
        <article>
            <br />
            <form class="form-group">
                <table class="table table-responsive-sm" id="datos">
                    <thead>
                        <tr>
                            <th>
                                Fecha Movimiento
                            </th>
                            <th>
                                Observaciones
                            </th>
                            <th>
                                Ingreso
                            </th>
                            <th>
                                Salida
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ListaCaja"> </tbody>
                </table>
            </form>
        </article>
    </div>
    
</body>
</html>
<script>
    class Caja {
        constructor() {
        }
        filtrarCaja(valor, action) {
            valor = 'GET';
            $.post(
                action,
                { valor },
                (response) => {

                    $("#dataFilter").html(response);
                });
        };
    };

</script>