@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NewBiz Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body style="background-color:ghostwhite;">
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix" style="padding-top:5%;">
        <div class="container">
            <div class="intro-img">
                <img src="~/img/qienes somos.jpg" alt="" class="img-fluid">
            </div>
            <h1>Sobre Alpid</h1>
            <div class="intro-info">
                <h2>
                    <span>¿Quienes somos?</span>
                </h2>
                <br>
                <h3>
                    La Asociación Sunchalense de Personas, sin fines de Lucro, encargada de la Integración del Discapacitado,
                    de su bien estar y Recuperación
                </h3>
            </div>
        </div>
    </section><!-- #intro -->

    <main id="main">
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Acciones</h3>
                    <p>¿Cuáles son?</p>
                </header>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="~/img/elementos.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h3 style="padding-top:15%">
                            Contacto permanente con el área de Desarrollo Humano de la Municipalidad y con los efectores de
                            Salud a fin de colaborar en la solución de problemas relacionados a la discapacidad motriz.
                        </h3>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="~/img/manos.jfif" style="padding-left:20%" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h3 style="padding-top:5%">
                            Fortaleciento e inserción en la red institucional de la ciudad, fomando parte del "Consejo de inclusión
                            para personas con Discapacidad".
                        </h3>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="~/img/niños.jfif" style="padding-left:20%" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h3 style="padding-top:2%">
                            Ayuda economica a paciente que requieran tratamientos de rehablitación con distintos profesionales
                            (Kinesiología, Psicomotricista, etc.).
                        </h3>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="~/img/elementos (2).jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h3 style="padding-top:15%">
                            Mejoramiento del espacio Público a través de acciones que contribuyan a la ACCESIBILIDAD UNIVERSAL.
                            <br />
                            <br />
                            Recaudación de fondos mediante cuota Societaria, ventas de tarjetas navideñas, sepelio,
                            chocolate solidario, venta de pan dulce, etc
                        </h3>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="~/img/todos los que existen.jfif" style="padding-left:30%" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h3 style="padding-top:5%">
                            Conexión y articulación con el CIUDADANO (Centro Único de Donación, Ablación e Implante de Órganos) a fin de
                            concientizar a la sociedad acerca de la temática, a través de charlas y realizacion de campañas de suscripción de
                            Donaciones Voluntarias
                        </h3>
                    </div>
                </div>
            </div>
        </section><!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Elementos Ortopédicos</h3>
                    <p>A continuación se detallan todos los elementos ortopédicos que brinda ALPID</p>
                </header>

                <div class="row">

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Silla de rueda para adultos y niños</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Colchón de aire con compresor</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Andadores </span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Trípodes </span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Bastones para ciegos</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Bastones Canadienses</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Muletas</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Pie de suero</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Marco de lentes</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Inodoros portátiles</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Sostenes para piernas</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Camas ortopédicas</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Asientos de goma</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Férulas</span></a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Baranda para camas</span></a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <h4 class="title"><a><span>Cabrestillos</span></a></h4>
                        </div>
                    </div>
                </div>
        </section><!-- #services -->

    </main>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>
</body>
</html>