@{
    ViewData["Title"] = "ALPID Sunchales";
}

<!DOCTYPE html>

<html>
    <body>
        <div class="probootstrap-page-wrapper">
            <section class="probootstrap-section probootstrap-section-colored">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1 text-left section-heading probootstrap-animate" style="padding: 7em 0">
                            <h1 style="padding: 14px">Sobre ALPID</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="probootstrap-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="probootstrap-flex-block col-md-offset-1 ">
                                <div class="probootstrap-text probootstrap-animate">
                                    <h3>¿Quienes somos?</h3>
                                    <p>
                                        La Asociación Sunchalense de Personas, sin fines de Lucro, encargada de la Integración del Discapacitado,
                                        encargados de su bien estar y Recuperación
                                    </p>
                                </div>
                                <div class="probootstrap-image probootstrap-animate" style="background-image: url(img/slider_4.jpg)">
                                    <img style="width: 500px; height: 360px;" src="~/img/qienes somos.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="probootstrap-section">
                <div class="container">
                    <div class="row">
                        <div style="padding: 30px;" class="col-md-8 col-md-offset-2 text-center section-heading probootstrap-animate">
                            <h2>Nuestras Acciones</h2>
                            <p class="lead">¿Cuáles son?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Fortaleciento e inserción en la red institucional de la ciudad, fomando parte del "Consejo de inclusión
                                        para personas con Discapacidad".
                                    </h3>
                                </div>
                            </div>
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Contacto permanente con el área de Desarrollo Humano de la Municipalidad y con los efectores de
                                        Salud a fin de colaborar en la solución de problemas relacionados a la discapacidad motriz.
                                    </h3>
                                </div>
                            </div>
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Ayuda economica a paciente quere quieran tratamientos de rehablitación con distintos profesionales
                                        (Kinesiología, Psicomotricista, etc.).
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3><br />Mejoramiento del espacio Público a través de acciones que contribuyan a la ACCEBILIDAD UNIVERSAL. </h3>
                                </div>
                            </div>
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Recaudación de fondos mediante cuota Societaria, ventas de tarjetas navideñas, sepelio,
                                        chocolate solidario, venta de pan dulce, etc
                                    </h3>
                                </div>
                            </div>
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Alquieler de AparatosOrtopédics, los que se renuevan periódicmente y se mantienen en excelentes condiciones
                                    </h3>
                                </div>
                            </div>
                            <div class="service left-icon probootstrap-animate">
                                <div class="icon"><i class="icon-checkmark"></i></div>
                                <div class="text">
                                    <h3>
                                        <br />Conexión y articulación con el CIUDADANO (Centro Único de Donación, Ablación e Implante de Órganos) a fin de
                                        concientizar a la sociedad acerca de la temática, a través de charlas y realizacion de campañas de suscripción de
                                        Donaciones Voluntarias
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
